<div class="carousel">
  <div class="carousel-slide">
      <img src="/img/n2.jpg" alt="Slide 1">
  </div>
  <div class="carousel-slide">
      <img src="/img/n3.jpg" alt="Slide 2">
  </div>
  <div class="carousel-slide">
      <img src="/img/b7.jpg" alt="Slide 3">
  </div>
</div>
