<header>
    <div class="brand"><a href=""><img class="brand-logo" src="img/family.jpg"></a></div>
    <nav class="main">
        <ul>
            <li><a href="">Home</a></li>
            <li><a href="">About Us</a></li>
            <li><a href="">Our Team</a></li>
            <li class="dropdown">
                <a href="">Services</a>
                <ul class="dropdown-menu">
                    <li><a href="">Psychotherapy Evaluation</a></li>
                    <li><a href="">QEEG</a></li>
                    <li><a href="">TOVA-Visual & Auditory</a></li>
                    <li><a href="">PSYCHOTHERAPY
                    </a></li>
                    <li><a href="#">NEUROFEEDBACK</a></li>
                    <li><a href="#">BIOFEEDBACK</a></li>
                    <li><a href="#">EMDR</a></li>
                    <li><a href="#">POWER STRUGGLE RESOLUTION</a></li>
                    <li><a href="">COGNITIVE BEHAVIORIAL THERAPY (CBT) 
                    </a></li>
                    <li><a href="">FAMILY THERAPY</a></li>
                    <li><a href="">COUPLE COUNSELLING</a></li>
                    <li><a href="">INDIVIDUAL PSYCHOTHERAPY/COUNSELLING</a></li>
                    <li><a href="">CONSULTATION</a></li>
                    <li><a href="">SEMINARS</a></li>
                    <li><a href="">PRESENTATIONS</a></li>
                </ul>
            </li>
            <li><a href="">Treatment</a></li>
            <li><a href="">Classes/Workshop</a></li>
            <li><a href="contact">Contact</a></li>
        </ul>
    </nav>
    <div id="ham-icon" onclick="toggleMobileMenu(this)">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
        <ul class="mobile-menu">
            <li><a href="/">Home</a></li>
            <li class="has-dropdown">
                <button onclick="toggleDropdown(event)">About Us +</button>
                <ul class="drop">
                    <li><a href="team">Our Team</a></li>
                    <li><a href="#">History</a></li>
                </ul>
            </li>
            
            <li class="has-dropdown">
                <button onclick="toggleDropdown(event)">Services +</button>
                <ul class="drop">
                    <li><a href="neurofeedback">Neurofeedback</a></li>
                    <li><a href="adhd">ADHD/ADD</a></li>
                    <li><a href="qeed">QEEG BRAIN MAPPING</a></li>
                    <li><a href="#">EValuation</a></li>
                    <li><a href="#">Professional Consultation</a></li>
                    <li><a href="#">POWER STRUGGLE RESOLUTION</a></li>
                    <li><a href="#">FAMILY THERAPY ANDMARRIAGE/ COUPLE COUNSELLING</a></li>
                </ul>
            </li>
            <li><a href="">Health Professionals</a></li>
            <li><a href="">Classes/Workshop</a></li>
            <li><a href="contact">Contact</a></li>
        
        </ul>

    </div>
</header>






